* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-primary);
  color: #fff;
}
.btn {
  padding: var(--padding-sm) var(--padding-md);
  background-color: var(--bg-secondary);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: var(--font-md);
  transition: background-color 0.3s;
}
